<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sip" version="1.0.2-dev">
  <name>Linphone</name>
  <description>A plugin to integrate linphone features to cordova</description>
  <license>MIT</license>
  <keywords>sip,cordova,phonegap,linphone,liblinphone</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <asset src="www/cordova-plugins-sip.js" target="js/cordova-plugins-sip.js"/>

  <js-module src="www/cordova-plugins-sip.js" name="Linphone">
      <clobbers target="Linphone" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Linphone">
        <param name="android-package" value="com.sip.linphone.Linphone" />
      </feature>
    </config-file>
      
    <config-file file="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file> 
      
    <config-file file="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.sip.linphone.LinphoneMiniActivity" android:theme="@android:style/Theme.Black.NoTitleBar" />
    </config-file>

    <source-file src="src/android/Linphone.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/LinphoneMiniActivity.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/LinphoneMiniManager.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/LinphoneMiniUtils.java" target-dir="src/com/sip/linphone" />


    <source-file src="src/android/libraries/armeabi/liblinphone-armeabi.so" 
    target-dir="app/src/main/jniLibs/armeabi/" />

<!--     <source-file src="src/android/libraries/arm64-v8a/libbctoolbox-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libbctoolbox-tester-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libgnustl_shared.so" 
    target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/liblinphone-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/liblinphonetester-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmediastreamer_base-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmediastreamer_voip-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmssilk.so" 
    target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmswebrtc.so" 
    target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libortp-arm64-v8a.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
 -->
    
    <source-file src="src/android/libraries/arm64-v8a/libbctoolbox.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libgnustl_shared.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/liblinphone.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmediastreamer_base.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmediastreamer_voip.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmssilk.so" 
    target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libmswebrtc.so" 
    target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libraries/arm64-v8a/libortp.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />

<!--     <source-file src="src/android/libraries/armeabi-v7a/libbctoolbox-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libbctoolbox-tester-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libgnustl_shared.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/liblinphone-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/liblinphonetester-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmediastreamer_base-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmediastreamer_voip-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmssilk.so" 
    target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmswebrtc.so" 
    target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libortp-armeabi-v7a.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
 -->
    
    <source-file src="src/android/libraries/armeabi-v7a/libbctoolbox.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libgnustl_shared.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/liblinphone.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/liblinphonetester.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmediastreamer_base.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmediastreamer_voip.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmssilk.so" 
    target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libmswebrtc.so" 
    target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libraries/armeabi-v7a/libortp.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />

<!--     <source-file src="src/android/libraries/x86/libbctoolbox-tester-x86.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libbctoolbox-x86.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libgnustl_shared.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/liblinphonetester-x86.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/liblinphone-x86.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmediastreamer_base-x86.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmediastreamer_voip-x86.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmssilk.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmswebrtc.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libortp-x86.so" target-dir="app/src/main/jniLibs/x86/" /> -->
    
    <source-file src="src/android/libraries/x86/libbctoolbox.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libgnustl_shared.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/liblinphone.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmediastreamer_base.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmediastreamer_voip.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmssilk.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libmswebrtc.so" target-dir="app/src/main/jniLibs/x86/" />
    <source-file src="src/android/libraries/x86/libortp.so" target-dir="app/src/main/jniLibs/x86/" />
      
    <!-- <lib-file src="src/android/libraries/arm64-v8a/libbctoolbox-arm64-v8a.so" arch="x64"/>
    <lib-file src="src/android/libraries/arm64-v8a/libbctoolbox-tester-arm64-v8a.so" arch="x64"/>
    <lib-file src="src/android/libraries/arm64-v8a/libgnustl_shared.so" arch="x64"/>
    <lib-file src="src/android/libraries/arm64-v8a/liblinphone-arm64-v8a.so" arch="x64" />
    <lib-file src="src/android/libraries/arm64-v8a/liblinphonetester-arm64-v8a.so" arch="x64"/>
    <lib-file src="src/android/libraries/arm64-v8a/libmediastreamer_base-arm64-v8a.so" arch="x64"/>
    <lib-file src="src/android/libraries/arm64-v8a/libmediastreamer_voip-arm64-v8a.so" arch="x64" />
    <lib-file src="src/android/libraries/arm64-v8a/libmssilk.so" arch="x64" />
    <lib-file src="src/android/libraries/arm64-v8a/libmswebrtc.so" arch="x64" />
    <lib-file src="src/android/libraries/arm64-v8a/libortp-arm64-v8a.so" arch="x64" />

    <lib-file src="src/android/libraries/armeabi-v7a/libbctoolbox-armeabi-v7a.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libbctoolbox-tester-armeabi-v7a.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libgnustl_shared.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/liblinphone-armeabi-v7a.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/liblinphonetester-armeabi-v7a.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libmediastreamer_base-armeabi-v7a.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libmediastreamer_voip-armeabi-v7a.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libmssilk.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libmswebrtc.so" arch="ARM" />
    <lib-file src="src/android/libraries/armeabi-v7a/libortp-armeabi-v7a.so" arch="ARM" />

    <lib-file src="src/android/libraries/x86/libbctoolbox-tester-x86.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/libbctoolbox-x86.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/libgnustl_shared.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/liblinphonetester-x86.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/liblinphone-x86.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/libmediastreamer_base-x86.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/libmediastreamer_voip-x86.so"arch="x86" />
    <lib-file src="src/android/libraries/x86/libmssilk.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/libmswebrtc.so" arch="x86" />
    <lib-file src="src/android/libraries/x86/libortp-x86.so" arch="x86" /> -->

    <resource-file src="src/android/resources/layout/incall.xml" target="res/layout/incall.xml" />
    <resource-file src="src/android/resources/raw/incoming_chat.wav" target="res/raw/incoming_chat.wav" />
    <resource-file src="src/android/resources/raw/linphonerc_default" target="res/raw/linphonerc_default" />
    <resource-file src="src/android/resources/raw/linphonerc_factory" target="res/raw/linphonerc_factory" />
    <resource-file src="src/android/resources/raw/lpconfig.xsd" target="res/raw/lpconfig.xsd" />
    <resource-file src="src/android/resources/raw/oldphone_mono.wav" target="res/raw/oldphone_mono.wav" />
    <resource-file src="src/android/resources/raw/ringback.wav" target="res/raw/ringback.wav" />
    <resource-file src="src/android/resources/raw/toy_mono.wav" target="res/raw/toy_mono.wav" />
    <resource-file src="src/android/resources/raw/rootca.pem" target="res/raw/rootca.pem" />

    <source-file src="src/android/libraries/linphone.jar" target-dir="app/libs" />
    <source-file src="src/android/libraries/gcm.jar" target-dir="app/libs" />

  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="ios-package" value="Linphone"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Linphone.h"/>
    <source-file src="src/ios/Linphone.m"/>

    <header-file src="src/ios/libs/include/linphone/lpconfig.h" /> 
    <header-file src="src/ios/libs/include/linphone/linphonecore.h" />
    <header-file src="src/ios/libs/include/linphone/linphonecore_utils.h" />

    <!--Belle-sip-->
    <header-file src="src/ios/libs/include/belle-sip/auth-helper.h"/>
    <header-file src="src/ios/libs/include/belle-sip/belle-sdp.h"/>
    <header-file src="src/ios/libs/include/belle-sip/belle-sip.h"/>
    <header-file src="src/ios/libs/include/belle-sip/bodyhandler.h"/>
    <header-file src="src/ios/libs/include/belle-sip/defs.h"/>
    <header-file src="src/ios/libs/include/belle-sip/dict.h"/>
    <header-file src="src/ios/libs/include/belle-sip/generic-uri.h"/>
    <header-file src="src/ios/libs/include/belle-sip/headers.h"/>
    <header-file src="src/ios/libs/include/belle-sip/http-listener.h"/>
    <header-file src="src/ios/libs/include/belle-sip/http-message.h"/>
    <header-file src="src/ios/libs/include/belle-sip/http-provider.h"/>
    <header-file src="src/ios/libs/include/belle-sip/list.h"/>
    <header-file src="src/ios/libs/include/belle-sip/listener.h"/>
    <header-file src="src/ios/libs/include/belle-sip/listeningpoint.h"/>
    <header-file src="src/ios/libs/include/belle-sip/mainloop.h"/>
    <header-file src="src/ios/libs/include/belle-sip/message.h"/>
    <header-file src="src/ios/libs/include/belle-sip/object.h"/>
    <header-file src="src/ios/libs/include/belle-sip/parameters.h"/>
    <header-file src="src/ios/libs/include/belle-sip/provider.h" />
    <header-file src="src/ios/libs/include/belle-sip/resolver.h"/>
    <header-file src="src/ios/libs/include/belle-sip/sip-uri.h"/>
    <header-file src="src/ios/libs/include/belle-sip/sipstack.h"/>
    <header-file src="src/ios/libs/include/belle-sip/transaction.h"/>
    <header-file src="src/ios/libs/include/belle-sip/types.h"/>
    <header-file src="src/ios/libs/include/belle-sip/utils.h"/>
    <header-file src="src/ios/libs/include/belle-sip/wakelock.h"/>

    <!--ortp-->
    <header-file src="src/ios/libs/include/ortp/b64.h" />
    <header-file src="src/ios/libs/include/ortp/event.h"  />
    <header-file src="src/ios/libs/include/ortp/logging.h"  />
    <header-file src="src/ios/libs/include/ortp/ortp.h"  />
    <header-file src="src/ios/libs/include/ortp/payloadtype.h"  />
    <header-file src="src/ios/libs/include/ortp/port.h" />
    <header-file src="src/ios/libs/include/ortp/rtcp.h" />
    <header-file src="src/ios/libs/include/ortp/rtp.h" />
    <header-file src="src/ios/libs/include/ortp/rtpprofile.h"  />
    <header-file src="src/ios/libs/include/ortp/rtpsession.h" />
    <header-file src="src/ios/libs/include/ortp/rtpsignaltable.h" />
    <header-file src="src/ios/libs/include/ortp/sessionset.h"  />
    <header-file src="src/ios/libs/include/ortp/str_utils.h" />
    <header-file src="src/ios/libs/include/ortp/telephonyevents.h" />

    <!--mediastream-->
    <header-file src="src/ios/libs/include/mediastreamer2/allfilters.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/bitratecontrol.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/bits_rw.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/dsptools.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/dtmfgen.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/flowcontrol.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/formats.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/ice.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mediastream.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/ms_srtp.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msaudiomixer.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mschanadapter.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mscodecutils.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mscommon.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msconference.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msequalizer.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mseventqueue.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msextdisplay.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msfactory.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msfileplayer.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msfilerec.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msfilter.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msgenericplc.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msinterfaces.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msitc.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msjava.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msjpegwriter.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msmediaplayer.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msqueue.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msrtp.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msrtt4103.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mssndcard.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mstee.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msticker.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mstonedetector.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msutils.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msvaddtx.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msvideo.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msvideopresets.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/msvolume.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/mswebcam.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/qualityindicator.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/rfc3984.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/stun_udp.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/stun.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/upnp_igd.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/videostarter.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/x11_helper.h" />
    <header-file src="src/ios/libs/include/mediastreamer2/zrtp.h" />

    <!--antlr3-->
    <header-file src="src/ios/libs/include/antlr3.h"/>
    <header-file src="src/ios/libs/include/antlr3baserecognizer.h"/>
    <header-file src="src/ios/libs/include/antlr3basetreeadaptor.h"/>
    <header-file src="src/ios/libs/include/antlr3bitset.h"/>
    <header-file src="src/ios/libs/include/antlr3collections.h"/>
    <header-file src="src/ios/libs/include/antlr3commontoken.h"/>
    <header-file src="src/ios/libs/include/antlr3commontree.h"/>
    <header-file src="src/ios/libs/include/antlr3commontreeadaptor.h"/>
    <header-file src="src/ios/libs/include/antlr3config.h"/>
    <header-file src="src/ios/libs/include/antlr3convertutf.h"/>
    <header-file src="src/ios/libs/include/antlr3cyclicdfa.h"/>
    <header-file src="src/ios/libs/include/antlr3debugeventlistener.h"/>
    <header-file src="src/ios/libs/include/antlr3defs.h"/>
    <header-file src="src/ios/libs/include/antlr3encodings.h"/>
    <header-file src="src/ios/libs/include/antlr3errors.h"/>
    <header-file src="src/ios/libs/include/antlr3exception.h"/>
    <header-file src="src/ios/libs/include/antlr3filestream.h"/>
    <header-file src="src/ios/libs/include/antlr3input.h"/>
    <header-file src="src/ios/libs/include/antlr3interfaces.h"/>
    <header-file src="src/ios/libs/include/antlr3intstream.h"/>
    <header-file src="src/ios/libs/include/antlr3lexer.h"/>
    <header-file src="src/ios/libs/include/antlr3memory.h"/>
    <header-file src="src/ios/libs/include/antlr3parser.h"/>
    <header-file src="src/ios/libs/include/antlr3parsetree.h"/>
    <header-file src="src/ios/libs/include/antlr3recognizersharedstate.h"/>
    <header-file src="src/ios/libs/include/antlr3rewritestreams.h"/>
    <header-file src="src/ios/libs/include/antlr3string.h"/>
    <header-file src="src/ios/libs/include/antlr3tokenstream.h"/>
    <header-file src="src/ios/libs/include/antlr3treeparser.h"/>
    
    <source-file framework="true" src="src/ios/libs/lib/mediastreamer/plugins/libmsamr.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/lib/mediastreamer/plugins/libmsbcg729.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/lib/mediastreamer/plugins/libmsopenh264.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/lib/mediastreamer/plugins/libmssilk.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/lib/mediastreamer/plugins/libmswebrtc.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/lib/mediastreamer/plugins/libmsx264.a" target-dir="lib/mediastreamer/plugins" />
    <source-file framework="true" src="src/ios/libs/lib/libantlr3c.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libavcodec.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libavutil.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libbcg729.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libbctoolbox.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libbellesip.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libbzrtp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libcorec.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libcunit.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libebml2.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libgsm.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/liblinphone.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/liblinphonetester.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libmatroska2.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libmediastreamer_base.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libmediastreamer_voip.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libopencore-amrnb.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libopencore-amrwb.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libopenh264.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libopus.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libortp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libpolarssl.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libspeex.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libspeexdsp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libsrtp.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libswresample.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libswscale.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libtunnel.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libvo-amrwbenc.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libvpx.a" target-dir="lib" />
    <source-file framework="true" src="src/ios/libs/lib/libx264.a" target-dir="lib" />

    <framework src="AVFoundation.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="CoreFoundation.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreData.framework" />
    <framework src="CoreAudio.framework" />
    <framework src="libz.tbd" />
    <framework src="libsqlite3.tbd" />
    <framework src="libresolv.tbd" />
    <framework src="libxml2.tbd" />
    <framework src="libstdc++.6.0.9.tbd" />
    <framework src="libstdc++.6.tbd" />
    <framework src="libstdc++.tbd" />
    <framework src="libc++abi.tbd" />
    
    
    <!--<framework src="src/ios/libs/include" custom="true" />
    <framework src="src/ios/libs/include/belle-sip" custom="true" />
    <framework src="src/ios/libs/include/ortp" custom="true" />
    <framework src="src/ios/libs/include/linphone" custom="true" />
    <framework src="src/ios/libs/include/mediastreamer2" custom="true" />-->
    
  </platform>
</plugin>
